body{
    width:100%;
    height:calc(100vh - 50px);
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background-color:hsl(210, 29%, 97%);
}

body > div{
    width:90%;
    max-width:300px;
    height:200px;
    border-radius: 5px;
    background-color:hsl(210, 100%, 99.5%);
}

#info{
    color:hsl(0, 100%, 70%);
    margin-bottom:20px;
    font-size:18px;
}

#form{
    width:100%;
    height:inherit;
    display:flex;
    justify-content: space-between;
    align-items:center;
    flex-direction:column;
}


#user-input{
    width:calc(90% - 5px);
    height:40px;
    padding-left:5px;
    margin:auto auto;
    border-radius:5px;
    background-color:hsl(210, 29%, 92%);
}


#form > div:nth-child(2){
    height:70px;
    width:inherit;
    display:flex;
    align-items:center;
    justify-content: center;
    background-color:var(--darkest-gray);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


#submit-button{
    width:45%;
    min-width:100px;
    height:30px;
    background-color:hsl(137, 56%, 45%);
    border-radius:5px;
    text-decoration:none;
    font-size:14px;
    color:hsl(210, 100%, 99.5%);
    text-align: center;
    line-height:30px;
}
#submit-button:hover{
    background-color:hsl(137, 56%, 50%);
}

#submit-button:active{
    background-color:hsl(137, 56%, 45%);
}